.sidemain {
    border: 1px solid #CCCCCC; 
    width: 208px; 
    height: 300px; 
}
.sidetop {
    background-image: url('../../Content/images/left_title.jpg'); 
    width: 210px;
    height: 38px;
}
.sidetop_text {
    font-size: 14px;
    font-weight: bold;
    color: #006600;
    padding-left: 40px;
}