@{
    ViewBag.Title = "_Footer";
}

<table border="0" cellspacing="0" cellpadding="0" width="1024" align="center">
    <tbody>
        <tr>
            <td width="26"><img src="~/Content/images/footer-1.gif" width="26" height="72"></td>
            <td background="/Content/images/footer-3.gif">
                <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
                    <tbody>
                        <tr align="middle">
                            <td align="middle">| <a href="#">设为首页</a> | <a href="#">加入收藏</a> | <a href="mailto:chenggang_cn@126.com">联系站长</a> | <a href ="#">友情链接</a> | <a href="#">版权申明</a> |  <a class="Bottom" href="#" target="_blank">后台管理</a></td>
                        </tr>
                        <tr>
                            <td align="middle">
                                <font color="#000000">Copyright © 2015 川渝同乡联合总会 All Rights Reserved<br>本网站由同乡会会员管@外宣-潇刚制作、维护及提供技术支持</font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="26"><img src="~/Content/images/footer-2.gif" width="26" height="72"></td>
        </tr>
    </tbody>
</table>
