@{
    ViewBag.Title = "_Header";
}

<div>
    <!--banner-->
    <div>
        <img src="~/Content/images/logo.png" width="96" />
        <span>川渝同乡联合总会</span>
    </div>
    <!--/banner-->
    <!--导航-->
    <div class="navbox">
        <div class="nav">
            <ul>
                <li><a href="" class="cur">首页</a></li>
                <li><a href="">活动频道</a></li>
                <li><a href="">实业发展</a></li>
                <li><a href="">同乡企业</a></li>
                <li><a href="">关于我们</a></li>
            </ul>
        </div>
    </div>
</div>
