<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/plugins/ymPrompt/ymPrompt.js"></script>
    <script src="~/Scripts/plugins/datepicker/jquery.ui.datepicker.js"></script>
    <script src="~/Scripts/plugins/datepicker/jquery.ui.datepicker-zh-CN.js"></script>
    <script src="~/Content/KindEditor/kindeditor.js"></script>
    <link href="~/Scripts/plugins/datepicker/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/page.css" rel="stylesheet"/>
    <link href="~/Scripts/plugins/ymPrompt/skin/cy/ymPrompt.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div id="header">
            @{ Html.RenderPartial("_Header");}
        </div>
        <div id="bodycenter">
            <div id="sidebar" style="float: left;">
                @{ Html.RenderPartial("_Sidebar");}
            </div>
            <div id="mainbody" style="float: right;">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            @{ Html.RenderPartial("_Footer");}
        </div>
    </div>
</body>
</html>
