@{
    ViewBag.Title = "_Sidebar";
}
<link href="~/Content/css/sidebar.css" rel="stylesheet" />
<div class="sidemain">
    <div class="sidetop">
        <span class="sidetop_text">菜单导航</span>
    </div>
    <div>
       【注册】
    </div>
</div>
