<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Cy.MainDbConn" connectionString="server=.;database=ChuanYuTA;user id=cy;password=cy@520;" providerName="System.Data.SqlClient"/>
    <add name="Cy.ReadDbConn" connectionString="server=.;database=ChuanYuTA;user id=cy;password=cy@520;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>